/* #2c3e50 --------- BLU */
/* #1abc9c --------- VERDE */
/* #1a252f --------- BLU SCURO */

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

section{
    padding: 100px 0;
}

.green-bg{
    background-color: #1abc9c;
}

.white-text{
    color: white;
}

.dark-text {
    color: #2c3e50;
}

.star-separator{
    text-align: center;
    margin: 20px 0;
}

.fa-star{
    margin: 0 15px;
    vertical-align: middle;
}

.star-separator::before, .star-separator::after{
    content:'';
    height: 4px;
    width: 100px;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}

/* ________________ Navbar ________________*/
#main-nav{
    background-color: #2c3e50;
    font-weight: 600;
    padding: 16px 0;
}

.navbar{
    margin: 0;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: 600;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

#main-nav ul{
    list-style: none;
}

.navbar-default .navbar-nav > li > a{
    color: white;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #1abc9c;
}


.navbar-header .navbar-toggle{
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    border-radius: 5px;
}
.navbar-header .navbar-toggle:hover{
    background-color: #148f77;
    border-color: #148f77;
    color: white;

}
.navbar-header .navbar-toggle > span {
    font-size: 14px;
    display: inline-block;
    color: white;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
    width: 13px;
}


/* ________________ Start Bootstrap ________________*/
#start-bootstrap{
    text-align: center;
}

.start-bootstrap-title{
    font-size: 44px;
    font-weight: 600;
}

.start-bootstrap-text{
    font-size: 20px;
}

#avatar{
    max-width: 240px;
    margin-bottom: 50px;
}



/* ________________ Portfolio ________________*/
#portfolio{
    text-align: center;
    color: #2c3e50;
}

.portfolio-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

#portfolio .star-separator::before, #portfolio .star-separator::after{
    background-color: #2c3e50;
}

.img-column{
    margin-bottom: 50px;
}

.img-column img{
    max-width: 400px;
}
.img-container{
    display: inline-block;
    border-radius: 6px;
}

.img-container img:hover{
    opacity: 0.2;
}

/* ________________ About ________________*/
#about{
    text-align: center;
}

.about-title{
    font-size: 36px;
    font-weight: 700;
}

.about-parag{
    text-align: left;
    font-size: 20px;
    margin-bottom: 15px;
}

#about .btn{
    background-color: #1abc9c;
    border: 2px solid white;
    border-radius: 8px;
    padding: 16px 28px;
    font-size: 20px;
}

#about .btn:hover{
    background-color: white;
    color: #1a252f ;
}


/* ________________ Contact Me ________________*/
#contact-me{
}

.contact-me-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

#contact-me .star-separator::before, #contact-me .star-separator::after{
    background-color: #2c3e50;
}

.form-group input, .form-group textarea,{
    font-size: 24px;
    border-left: none;
    border-top: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0;
    height: 92px;
}

form .btn-default{
    background-color: #1abc9c;
    color: white;
    border-radius: 8px;
    padding: 16px 28px;
    font-size: 20px;
}

form .btn-default:hover{
    background-color: #148f77;
    color: white;
}












/* ________________ Media Query ________________*/

@media screen and (min-width: 768px) {


    #main-nav{
        padding: 24px 16px;
    }

    .navbar-header a{
        font-size: 28px;
    }

    /* ________________ Start Bootstrap ________________*/
    .start-bootstrap-title{
        font-size: 64px;
        font-weight: 700;
    }

    .start-bootstrap-text{
        font-size: 24px;
    }

    /* ________________ Portfolio ________________*/
    .portfolio-title, .about-title, .contact-me-title{
        font-size: 48px;
    }

    .img-column img{
        max-width: 271px;
    }

}

@media screen and (min-width: 1199px) {
    .img-column img{
        max-width: 332px;
    }
}
