/* #2c3e50 --------- BLU */
/* #1abc9c --------- VERDE */
/* #1a252f --------- BLU SCURO */

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* ________________ Navbar ________________*/
#main-nav{
    background-color: #2c3e50;
    font-weight: 600;
    padding: 16px 0;
}

.navbar{
    margin: 0;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: 600;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

#main-nav ul{
    list-style: none;
}

.navbar-default .navbar-nav > li > a{
    color: white;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #1abc9c;
}


.navbar-header .navbar-toggle{
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    border-radius: 5px;
}
.navbar-header .navbar-toggle > span {
    font-size: 14px;
    display: inline-block;
    color: white;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
    width: 13px;
}

/* ________________ Start Bootstrap ________________*/
#start-bootstrap{
    background-color: #1abc9c;
    color: white;
    text-align: center;
    padding: 100px 0;
}

#start-bootstrap{

}

/* ________________ Media Query ________________*/

@media screen and (min-width: 768px) {
    #main-nav{
        padding: 24px 16px;
    }

    .navbar-header a{
        font-size: 28px;
    }
}
